body {
  position: absolute;
  width: 375px;
  height: 718px;
  left: 1px;
  top: 1px;
  background: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 22px;
}

.onebar {
  border-radius: 100px;
  width: 25px;
  height: 4px;
  background-color: #6070ff;
  margin: 6px 0;
  position: relative;
  top: -25px;
  left: 400px;
}

.twobar {
  border-radius: 100px;
  width: 25px;
  height: 4px;
  background-color: #6070ff;
  margin: 6px 0;
  position: relative;
  top: -25px;
  left: 400px;
}

.threebar {
  border-radius: 100px;
  width: 25px;
  height: 4px;
  background-color: #6070ff;
  margin: 6px 0;
  margin-top: 5px;
  position: relative;
  top: -25px;
  left: 400px;
}

h1 {
  position: static;
  width: 76px;
  height: 20px;
  left: 12px;
  top: 10px;
  font-family: Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 20px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #6070ff;
}

.circle {
  position: absolute;
  width: 15px;
  height: 15px;
  left: 214px;
  top: 110px;
  box-sizing: border-box;
}

.lineoncircle {
  position: absolute;
  width: 26.46px;
  height: 4.73px;
  left: 210px;
  top: 113px;
  background: #6070ff;
  transform: matrix(0.76, 0.65, 0.65, -0.76, 0, 0);
}

.tcircle {
  position: absolute;
  width: 15px;
  height: 15px;
  left: 350px;
  top: 80px;
  background: #fff;
  box-sizing: border-box;
}

.greyrect {
  position: absolute;
  width: 95.58px;
  height: 22.02px;
  left: 350px;
  top: 165.79px;
  background: #ebebff;
  transform: rotate(-30deg);
}

.bigcurve {
  position: absolute;
  width: 105px;
  height: 105px;
  left: 380px;
  top: 180px;
  background: transparent;
}

.pizzaimg {
  position: absolute;
  width: 38.5px;
  height: 19.25px;
  left: 16.04px;
  top: 161.47px;
  background: transparent;
  transform: rotate(-156.88deg);
}

h2 {
  position: relative;
  width: 327px;
  height: 170px;
  left: 24px;
  top: 170px;
  font-family: Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 52px;
  display: flex;
  align-items: center;
  color: #172b4d;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 12px;
}

p {
  position: relative;
  width: 327px;
  height: 146px;
  left: 24px;
  top: 220px;
  font-family: Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: #344563;
  flex: none;
  order: 1;
  flex-grow: 0;
  margin: 12px;
}

.con {
  position: relative;
  width: 117px;
  height: 24px;
  left: 12px;
  top: 240px;
  font-family: Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #7f8cff;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 8px;
}

ul li {
  /* to make all the elements display in line */
  display: inline;
  position: relative;
  top: 250px;
  margin: 10px;
  right: 30px;
}

.halfcircle {
  position: absolute;
  width: 24.14px;
  height: 12.07px;
  left: 341.76px;
  top: 650px;
  background: transparent;
}

.tcircle2 {
  position: absolute;
  width: 15px;
  height: 15px;
  left: 53px;
  top: 800px;
  background: #fff;
  box-sizing: border-box;
}

.tcurve {
  position: absolute;
  width: 30.1px;
  height: 30.1px;
  left: 332.18px;
  top: 670px;
  background: transparent;
  transform: rotate(69.41deg);
}

.trect {
  position: absolute;
  width: 68.06px;
  height: 12.18px;
  left: 191.82px;
  top: 850px;
  background: #ebebff;
  transform: rotate(23.34deg);
}

.purcircle {
  position: absolute;
  width: 20px;
  height: 20px;
  left: 237px;
  top: 830px;
  background: transparent;
}
