body {
  min-height: 1000px;
  min-width: 500px;
  background-image: linear-gradient(to right, black, #101820ff);
}

ul {
  /* to remove dots in list */
  list-style: none;
}

ul li {
  /* to make all the elements display in line */
  display: inline;
  position: relative;
  left: 600px;
  top: -50px;
}

div {
  position: relative;
  left: 400px;
  margin: 20px;
  top: -80px;
}

.onebar {
  border-radius: 100px;
  width: 60px;
  height: 5px;
  background-color: darkblue;
  margin: 6px 0;
}

.twobar {
  border-radius: 100px;
  width: 50px;
  height: 5px;
  background-color: grey;
  margin: 7px 0;
}

.threebar {
  border-radius: 100px;
  width: 35px;
  height: 5px;
  background-color: white;
  margin: 8px 0;
}

h1 {
  font-style: normal;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

  /* creating a gradient text */
  background: linear-gradient(to right, #f2aa4cff, white);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;

  /* background-clip: none; */
  font-size: 50px;
}

h2 {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  background: linear-gradient(to right, #95dbe5ff, #078282ff, #339e66ff);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;

  /* background-clip: none; */
}

h3 {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  background: linear-gradient(to right, #95dbe5ff, #078282ff, #339e66ff);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;

  /* background-clip: none; */
}

p {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  background: linear-gradient(to right, #f32170, #ff6b08, #cf23cf, #ed4);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;

  /* background-clip: none; */
  position: relative;
  left: 50px;
}

img {
  width: 80px;
  height: 80px;
}

.container {
  display: inline-flex;
  flex-direction: column;
  position: relative;
  margin-top: 150px;
  left: -300px;
}
