
p {
  position: relative;
  width: 327px;
  height: 146px;
  left: 24px;
  top: 220px;
  font-family: Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: #344563;
  flex: none;
  order: 1;
  flex-grow: 0;
  margin: 12px;
}

.con {
  position: relative;
  width: 117px;
  height: 24px;
  left: 12px;
  top: 240px;
  font-family: Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #7f8cff;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 8px;
}

ul li {
  /* to make all the elements display in line */
  display: inline;
  position: relative;
  top: 250px;
  margin: 10px;
  right: 30px;
}

.card1 {
  grid-template-columns: auto;
  transition: 0.3s;
  margin-bottom: 20px;
  position: static;
  width: 380px;
  height: 550px;
  border-radius: 8px;
  order: 1;
  flex-grow: 1;
  border: solid 1px grey;
}

.card1:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 1);
}

.container {
  display: grid;
  position: relative;
  top: 90px;
  left: 50px;
}

#port1 {
  margin: 20px;
  position: relative;
  margin-left: 40px;
}

.title {
  position: static;
  width: 295px;
  height: 36px;
  font-family: Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 44px;
  color: #172b4d;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 12px 15px;
}

.canopy {
  position: static;
  width: 55px;
  height: 16px;
  left: 1px;
  top: 8px;
  font-family: Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  color: #344563;
  flex: none;
  flex-grow: 1;
  margin: 1px 20px;
}

#dot {
  position: relative;
  width: 8px;
  height: 8px;
  left: 80px;
  top: -25px;
  flex: none;
  order: 1;
  margin: 1px 12px;
}

.back {
  position: relative;
  width: 88px;
  height: 16px;
  top: -42px;
  font-family: Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  color: #7a869a;
  flex: none;
  margin: 1px 90px;
}

#dot1 {
  position: relative;
  width: 8px;
  height: 8px;
  left: 210px;
  top: -65px;
  flex: none;
  order: 1;
  margin: 1px 12px;
}

.content {
  position: relative;
  width: 295px;
  height: 76px;
  top: -50px;
  font-family: Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 24px;
  color: #344563;
  flex: none;
  order: 1;
  margin: 12px 4px;
}

.html {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 4px 12px;
  position: relative;
  width: 50px;
  height: 24px;
  left: 20px;
  top: -50px;
  border-radius: 8px;
  flex: none;
  order: 1;
  margin: 1px 10px;
  border-color: transparent;
  color: #7f8cff;
}

.html:hover {
  background-color: greenyellow;
}

.css {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 4px 12px;
  position: relative;
  width: 45px;
  height: 24px;
  left: 80px;
  top: -75px;
  border-radius: 8px;
  flex: none;
  order: 1;
  margin: 1px 10px;
  border-color: transparent;
  color: #6070ff;
}

.css:hover {
  background-color: aqua;
}

.js {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 4px 12px;
  position: relative;
  width: 80px;
  height: 24px;
  left: 140px;
  top: -100px;
  border-radius: 8px;
  flex: none;
  order: 1;
  margin: 1px 10px;
  border-color: transparent;
  color: #6070ff;
}

.js:hover {
  background-color: blueviolet;
}

.sp {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 4px 12px;
  position: relative;
  width: 100px;
  height: 35px;
  left: 10px;
  top: -80px;
  border-radius: 8px;
  flex: none;
  order: 1;
  margin: 1px 10px;
  border-color: #396df2;
  border-width: 1px;
  background-color: transparent;
  color: #396df2;
}

.sp:hover{
  background-color: #172b4d;
}

.text {
  color: #6070ff;
}

#secondh12 {
  font-family: Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 52px;
  display: flex;
  align-items: center;
  color: #172b4d;
  position: relative;
  top: 230px;
  left: 30px;
}

.about {
  position: relative;
  top: 2200px;
}

.resume {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: #6070ff;
  padding: 4px 12px;
  position: relative;
  width: 100px;
  height: 35px;
  left: -40px;
  top: 280px;
  border-radius: 8px;
  flex: none;
  order: 1;
  margin: 1px 10px;
  border-color: #396df2;
  border-width: 1px;
  background-color: transparent;
}

.myskills {
  position: relative;
  top: 120px;
  display: inline-grid;
  margin-bottom: 10px;
}

#skill {
  position: relative;
  top: 150px;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
}

#lan {
  position: relative;
  top: 180px;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
}

#frame {
  position: relative;
  top: 240px;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
}

.contactme {
  position: absolute;
  width: 375px;
  height: 600px;
  left: 1px;
  top: 3300px;
  background: #6070ff;
  border-top-left-radius: 50px;
}

#dot2 {
  width: 15px;
  position: relative;
  top: 20px;
  left: 200px;
}

.contact {
  position: relative;
  left: 80px;
  top: -80px;
  font-family: Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 52px;
  display: flex;
  color: white;
}

.name {
  position: absolute;
  height: 30px;
  width: 300px;
  left: 30px;
  top: 170px;
  bottom: 1px;
  background: #fff;
  border: 1px solid #cfd8dc;
  border-radius: 8px;
}

.email {
  position: absolute;
  height: 30px;
  width: 300px;
  left: 30px;
  top: 220px;
  bottom: 1px;
  background: #fff;
  border: 1px solid #cfd8dc;
  border-radius: 8px;
}

.msg {
  position: absolute;
  height: 150px;
  width: 300px;
  left: 30px;
  top: 280px;
  bottom: 1px;
  background: #fff;
  border: 1px solid #cfd8dc;
  border-radius: 8px;
}

.text1 {
  color: blue;
}

.touch1 {
  background-color: white;
  border-radius: 10%;
  position: relative;
  top: 300px;
  left: 20px;
  color: #6070ff;
  border-color: transparent;
}

#malik {
  text-decoration: none;
}

.greyrect {
  position: relative;
  top: 20px;
  left: 300px;
  width: 74.7px;
  height: 17.21px;
  background: #7F8CFF;
  transform: rotate(-23.18deg);
}

.greyrect2 {
  position: relative;
  width: 76.17px;
  height: 13.63px;
  left: 200px;
  top: 500px;
  background: #7F8CFF;
  transform: matrix(0.8, 0.6, 0.6, -0.8, 0, 0);
}

#whitecur {
  position: relative;
  left: 320px;
  top: -6px;
}

#whitedot {
  position: relative;
  left: 200px;
  top: 430px;
}